@import '../../node_modules/bootstrap-grid/dist/grid.min';
@import '../../node_modules/remodal/dist/remodal';
@import '../../node_modules/remodal/dist/remodal-default-theme';
@import '../../node_modules/owl.carousel/dist/assets/owl.carousel.min';
@import '../../node_modules/@fancyapps/fancybox/dist/jquery.fancybox.min';
@import '../../node_modules/slick-carousel/slick/slick.css';
@import '../../node_modules/hamburgers/dist/hamburgers.min';
@import '../../node_modules/font-awesome/css/font-awesome.min';
@import './_vars';

@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome/fontawesome-webfont.eot?v=4.7.0');
    src: url('../fonts/fontawesome/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), 
         url('../fonts/fontawesome/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), 
         url('../fonts/fontawesome/fontawesome-webfont.woff?v=4.7.0') format('woff'), 
         url('../fonts/fontawesome/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), 
         url('../fonts/fontawesome/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
}

.owl-carousel {
    padding: 0 50px;
	.owl {
		&-prev, &-next {
			position: absolute;
			top: 50%;
         outline: 0;
         transform: translateY(-50%);

			&:before {
				font-family: 'FontAwesome';
				font-size: 50px;
            color: #d2d3d7;
				display: block;	
			}
		}

		&-prev {
			left: 0px;
			&:before{
				content: "\f104";
			}
		}

		&-next {
			right: 0px;
			&::before {
				content: "\f105";
			}
		}
	}
}

.remodal {
    text-align: left;

    &-close {
        left: auto;
        right: 0;
    }

    &.remodal-small {
        max-width: 450px;
    }
}

.hamburger {
    background-color: #fff;
    padding: 10px;
	line-height: 0;
	    
    &-box {
        width: 30px;
    }

    &-inner {
        &, &:after, &:before {            
            border-radius: 0;
            width: 100%;
            height: 2px;        
        }

        & {
            margin-top: -1px;
        }

        &:before {
            top: 0;
        }

        &:after {
            bottom: -7px;
        }
    }
}

.slick-slider {
   margin-bottom: 40px;
}

.slick-track {
    padding: 90px 0;
}

.slick-slide {
   position: relative;
   transform: scale(0.7);
   transition: all 300ms ease 0s;

   &.slick-center {
      transform: scale(2);
      z-index: 10;
   }

   .slick-center + & {
      z-index: 9;
      transform: scale(1) translateX(50px);
   }

   &.slick-center-prev {
      transform: scale(1) translateX(-50px);
   }
}

.slick-arrow {
    position: absolute;
    top: 100%;
    right: 50%;    
    margin-right: -32px;
    outline: 0;
    background: none;
    border: 0;    
    cursor: pointer;

    &:after {
        content: '\f105';
        font-family: FontAwesome;
        font-size: 40px;
        color: #d2d3d7;
    }

    &.slick-prev {
        right: auto;
        left: 50%;
        margin-right: auto;
        margin-left: -32px;
        &:after {
           content: "\f104";
            // transform: translate(-25%,-50%) rotate(-135deg);
        }
    }

    &:hover {
        border-color: $accent;
        &:after {
            border-top-color: $accent;
            border-right-color: $accent;
        }
    }
}

.slick-dots {
    margin: 0px 0 0; 
    list-style: none;
    display: flex;
    justify-content: center;

    li {
        display: block;
        width: 9px;
        height: 9px;
        background-color: rgb(127, 126, 126);
        border-radius: 50%;
        margin: 0 5px;
        cursor: pointer;

        &.slick-active {
            background-color: rgb(202, 204, 209);
            transform: scale(1.3);
        }
    }
}

@media only screen and (min-width: 641px) {
    .remodal {
        max-width: 80%;
    }
}
